<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商户首页</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/jsw-logo.ico">
    <link href="../../lib/layui/css/layui.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/merchant.css">

    <!--[if lt IE 9]>
    <script src="lib/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body class="clearfix">
    <header class="clearfix">
        <span class="pull-left"><img src="../../img/merchant-logo.png" alt=""> 供应商装备推荐平台</span>
        <a class="uer-name pull-right" href=""><i>&nbsp;&nbsp;</i> Jane Pearson ( 管理员 ) </a>
        <a class="pull-right">&nbsp;&nbsp;<img src="../../img/exit.png" alt="">&nbsp;&nbsp;</a>
        <a class="link-index pull-right" href="">进入平台首页</a>
    </header>
    <aside class="pull-left">
        <div><i>&nbsp;&nbsp;</i> Jane Pearson</div>
        <ul id="menu">
            <li>
                店铺设置<img class="pull-right" src="../../img/merchant-icon-01.png" alt=""> <i class="layui-icon layui-icon-left pull-right"></i>
                <ul class="children" style="display: none;">
                    <li>
                        <a><img src="../../img/arrorw-rg.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;商品发布</a>
                    </li>
                    <li>
                        <a><img src="../../img/arrorw-rg.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;商品管理</a>
                    </li>
                </ul>

            </li>
            <li>
                店铺设置<img class="pull-right" src="../../img/merchant-icon-01.png" alt=""> <i class="layui-icon layui-icon-left pull-right"></i>
                <ul class="children" style="display: none;">
                    <li>
                        <a><img src="../../img/arrorw-rg.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;商品发布</a>
                    </li>
                    <li>
                        <a><img src="../../img/arrorw-rg.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;商品管理</a>
                    </li>
                </ul>

            </li>
            <li>
                店铺设置<img class="pull-right" src="../../img/merchant-icon-01.png" alt=""> <i class="layui-icon layui-icon-left pull-right"></i>
                <ul class="children" style="display: none;">
                    <li>
                        <a><img src="../../img/arrorw-rg.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;商品发布</a>
                    </li>
                    <li>
                        <a><img src="../../img/arrorw-rg.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;商品管理</a>
                    </li>
                </ul>

            </li>
        </ul>
    </aside>
    <section>
        <p>我的位置：&nbsp;&nbsp;&nbsp;&nbsp;商品管理 >
            <font color="#ff9900">商品管理</font>
        </p>
        <div style="margin: 28px 0 10px 0;"><a href="new-product.html" style="font-size: 12px;" class="new-article">发布新产品</a></div>
        <article>
            <ul class="clearfix">
                <li>
                    <a class="active" href="index.html">全部（<font color="#ff9900">40</font>）</a>
                </li>
                <li>
                    <a href="draft.html">草稿箱（<font color="#ff9900">40</font>）</a>
                </li>
                <li>
                    <a href="under-review.html">审核列表（<font color="#ff9900">40</font>）</a>
                </li>
                <li>
                    <a href="wait-shelf.html">待上架（<font color="#ff9900">40</font>）</a>
                </li>
                <li>
                    <a href="up-shelf.html">已上架（<font color="#ff9900">40</font>）</a>
                </li>
                <li>
                    <a href="down-shelf.html">已下架（<font color="#ff9900">40</font>）</a>
                </li>
                <li>
                    <a href="recycle.html">回收站（<font color="#ff9900">40</font>）</a>
                </li>
            </ul>
            <div class="search">
                <b>筛选</b>
                <form lay-filter="queryForm" class="query-form layui-form">
                    <div>
                        <label>商品名称</label>
                        <input type="text" name="agencyunitname" lay-verify="required" class="layui-input-inline layui-input" style="width: 223px;height: 30px;" placeholder="商品名称">
                        <label for="">商品所属类目</label>
                        <div class="layui-input-inline">
                            <select name="areatypeid" id="areaoptionView">

                            </select>
                        </div>
                    </div>
                    <div>
                        <label>创建时间</label>
                        <input type="text" name="kssj" id="startDate" class="layui-input-inline layui-input" style="width: 80px;height: 30px;" placeholder="开始日期">
                        <label for="endDate">到：</label>
                        <input type="text" name="jssj" id="endDate" class="layui-input-inline layui-input" style="width: 80px;height: 30px;" placeholder="结束时间">
                        <label for="">店内分类</label>
                        <div class="layui-input-inline">
                            <select name="areatypeid" id="areaoptionView">

                            </select>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button lay-submit lay-filter="searchBtn" class="layui-btn layui-btn-sm layui-btn-warm">查询</button>
                    </div>
                </form>
                <table id="mainTable" lay-filter="mainTable"></table>
            </div>
        </article>
    </section>
    <script type="text/javascript" src="../../lib/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript">
        $("#menu").find("li").on("click", function() {
            $(this).siblings().find(".children").slideUp();
            $(this).find(".children").slideToggle();
        })
        laydate.render({
            elem: '#startDate'
        });
        laydate.render({
            elem: '#endDate',
            value: new Date()
        });

        table.render({
            elem: '#mainTable',
            toolbar: "#tableHeader",
            data: [{
                name: 1,
                status: 0,
                price: '50',
                date: '2019-01-01'
            }],
            cols: [
                    [ //表头
                        {
                            field: 'status',
                            title: '商品',
                            align: 'center',
                            templet: function(d) {
                                return "<img src='../../img/table-show.png' style='width:50px;height: 50px;vertical-align: middle;'>&nbsp;&nbsp;商品名称"
                            }
                        }, {
                            field: 'price',
                            title: '平台价（元）',
                            align: 'center'
                        }, {
                            field: 'title',
                            title: '店内分类',
                            align: 'center'
                        }, {
                            field: 'date',
                            title: '创建时间',
                            align: 'center'
                        }, {
                            templet: '#tableSetBtn',
                            title: '状态',
                            field: 'status',
                            align: 'center'
                        }
                    ]
                ] //设置表头
        });
    </script>
</body>

</html>