<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../css/hui.css" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/borrowBooks.css" />
    <link rel="stylesheet" href="../../css/media.css" />
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js" ></script>
    <script src="../../js/hui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/hui-refresh-load-more.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <header class="hui-header">
        <div id="hui-back"></div>
        <h1>修改密码</h1>
    </header>
    <div class="hui-wrap footermgh">
        <form action="/weixinwode/updateUserInfo"  id="restSelFrom">
        <div class="hui-list" style="border: none">
            <ul>
                <li>
                    <div class="hui-list-text meanslist">原密码<input id="mm" type="password"></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">新密码<input id="xmm" type="password"></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">确认密码<input type="password"></div>
                </li>
            </ul>
        </div>
        </form>
    </div>
    <button type="button" class="sumitbtn"  onclick="pwd()">确定</button>
</body>

<script type="text/javascript">
    function pwd(){
        $.ajax({
            url:"/weixinwode/updateUserInfo",
            type:"GET",
            data:{token:sessionStorage.token,mm:$("#mm").val(),xmm:$("#xmm").val()},
            success:function (result) {
                if(result.resCode == 200){
                    hui.toast(result.resMsg);
                }
            }
        });
    }

</script>
</html>