<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../css/hui.css" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/borrowBooks.css" />
    <link rel="stylesheet" href="../../css/media.css" />
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js" ></script>
    <script src="../../js/hui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/hui-refresh-load-more.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
    .hui-header{
        display: flex;
        width: 100%;
        height: 44px;
        text-align: left;
        top: 0px;
        left: 0px;
        text-indent: 1.2rem;
        position: fixed;
        z-index: 19;
        background: #f9f9f9;
    }
    .hui-icons-my:before {
        color: #6dabfd;
    }
</style>
<body>
    <header class="hui-header index_tetile ">
        <h1 class="main_title" >我的图书馆</h1>
    </header>
    <div class="hui-wrap footermgh">
        <div class="mylist_header">
            <div class="mylist_box">
                <img src="../../img/myheaderimg.png" alt="">
                <div>
                    <p>李梓豪</p>
                    <p class="text_p">借书证号：<span >000039</span></p>
                </div>
                <div><a href="../my/myMeans.html">个人资料</a></div>
            </div>
            <div class="mylist_boxs">
                <a href="../my/myBorrowing.html">
                    <p>3</p>
                    <p>我的借阅</p>
                </a>
                <a href="">
                    <p>3</p>
                    <p>我的预约</p>
                </a>
                <a href="">
                    <p>3</p>
                    <p>我的预借</p>
                </a>
            </div>
        </div>

        <ul class="mylist_center">
            <li><a href=""><img src="../../img/mylistimg_01.png" alt=""><p>朗读作品</p></a></li>
            <li><a href=""><img src="../../img/mylistimg_02.png" alt=""><p>读书笔记</p></a></li>
            <li><a href=""><img src="../../img/mylistimg_03.png" alt=""><p>我的收藏</p></a></li>
            <li><a href=""><img src="../../img/mylist_04.png" alt=""><p>我的荐购</p></a></li>
            <li><a href=""><img src="../../img/mylistimg_05.png" alt=""><p>我的留言</p></a></li>
            <li><a href=""><img src="../../img/mylistimg_06.png" alt=""><p>缴费相关</p></a></li>
            <li><a href=""><img src="../../img/mylistimg_07.png" alt=""><p>读者证挂失</p></a></li>
            <li><a href=""><img src="../../img/mylistimg_08.png" alt=""><p>解除绑定</p></a></li>
        </ul>

        <div class="mylist_footer" style="margin-top:22px;">
            <ul>
                <li>
                    <a href="">
                        <div class="hui-list-text">
                            <div class="hui-list-text-content"><img src="../../img/mylistimg_09.png" alt="">常见问题</div>
                            <div class="hui-list-info">
                                <span class="hui-icons hui-icons-right mylist_footerimg"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="hui-list-text">

                            <div class="hui-list-text-content"><img src="../../img/mylistimg_10.png" alt="">关于图书馆</div>
                            <div class="hui-list-info">
                                <span class="hui-icons hui-icons-right mylist_footerimg"></span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class="sumitbtn"  id="sumitbtn">退出</button>
    </div>
    <div id="hui-footer">
        <a href="../index/index.html" id="nav-home">
            <div class="hui-footer-icons hui-icons-home"></div>
            <div class="hui-footer-text">首页</div>
        </a>
        <a href="../search/searchindex.html" id="nav-search">
            <div class="hui-footer-icons hui-icons-search"></div>
            <div class="hui-footer-text">搜索</div>
        </a>
        <a href="../news/newsindex.html" id="nav-forum">
            <div class="hui-footer-icons hui-icons-forum"></div>
            <div class="hui-footer-text">消息</div>
        </a>
        <a href="../note/noteindex.html" id="nav-write">
            <div class="hui-footer-icons hui-icons-write"></div>
            <div class="hui-footer-text">笔记</div>
        </a>
        <a href="" id="nav-my">
            <div class="hui-footer-icons hui-icons-my"></div>
            <div class="hui-footer-text">我的</div>
        </a>
    </div>
</body>
</html>
<script>
    $.ajax({
        type: "POST",
        url: "/weixinwode/systemMessage",
        data: {token:sessionStorage.token},
        success: function(result){
            if(result.resCode == 200){
                $.each(result.resMsg.list,function(index,obj){
                    var appendhtml = "<li id='"+obj.id+"'>" +
                        "<a href=\"../news/newsMessage.html?newsid="+obj.id+"\" class=\"newslista\">" +
                        "<div class=\"nwesyuan\">消息</div>" +
                        "<div class=\"hui-media-content\">" +
                        "<div class=\"news_title\"><span>"+obj.title+"</span> <span class=\"index_newstime\">"+obj.date+"</span></div>" +
                        "<p class=\"text_p\">描述</p>" +
                        "</div>" +
                        "</a>" +
                        "</li>";
                    $("#newslist").append(appendhtml);
                });
            }else{
                hui.toast(result.resMsg);
                return;
            }
        }

    });
</script>