<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../css/hui.css" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/borrowBooks.css" />
    <link rel="stylesheet" href="../../css/media.css" />
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js" ></script>
    <script src="../../js/hui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/hui-refresh-load-more.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <header class="hui-header">
        <div id="hui-back"></div>
        <h1>个人资料</h1>
    </header>
    <div class="hui-wrap footermgh">
        <p class="chazhaoluj">基本信息</p>
        <div class="hui-list" style="border: none">
            <ul>

                <li>
                    <div class="hui-list-text meanslist">编号<span id="jszh">000001</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">姓名<span id="username">黄晓明</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">所属部门<span id="dept">13888888888</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">职位<span id="position">2018-09-01</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">联系电话<span id="phone">2018-09-01</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">email<span id="email">2018-09-01</span></div>
                </li>
            </ul>
        </div>

        <div class="hui-list" style="margin-top:22px;border: none">
            <ul>
                <li>
                    <a href="../my/changePassword.html">
                        <div class="hui-list-text">
                            <div class="hui-list-text-content">修改密码</div>
                            <div class="hui-list-info">
                                <span class="hui-icons hui-icons-right"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../my/updateUserInfo.html">
                        <div class="hui-list-text">
                            <div class="hui-list-text-content">修改个人信息</div>
                            <div class="hui-list-info">
                                <span class="hui-icons hui-icons-right"></span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="hui-footer">
        <a href="../index/index.html" id="nav-home">
            <div class="hui-footer-icons hui-icons-home"></div>
            <div class="hui-footer-text">数据录入</div>
        </a>
        <a href="../search/searchindex.html" id="nav-search">
            <div class="hui-footer-icons hui-icons-search"></div>
            <div class="hui-footer-text">数据查询</div>
        </a>
        <a href="../news/newsindex.html" id="nav-forum">
            <div class="hui-footer-icons hui-icons-forum"></div>
            <div class="hui-footer-text">数据统计</div>
        </a>
        <a href="" id="nav-my">
            <div class="hui-footer-icons hui-icons-my"></div>
            <div class="hui-footer-text">我的</div>
        </a>
    </div>
</body>
<script type="text/javascript">

    $.ajax({
       url:"/user/findUserInfo",
       type:"GET",
       data:{userid:sessionStorage.userid || 1},
       success:function (result) {
            if(result.code == 200){
                $("#jszh").text(result.data.id);
                $("#username").text(result.data.username);
                $("#dept").text(result.data.dept);
                $("#position").text(result.data.position);
                $("#phone").text(result.data.phone);
                $("#email").text(result.data.email);
            }
       }
    });
</script>
</html>