<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../css/hui.css" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/borrowBooks.css" />
    <link rel="stylesheet" href="../../css/media.css" />
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js" ></script>
    <script src="../../js/hui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/hui-refresh-load-more.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <header class="hui-header">
        <div id="hui-back"></div>
        <h1>个人资料</h1>
    </header>
    <div class="hui-wrap footermgh">
        <p class="chazhaoluj">基本信息</p>
        <div class="hui-list" style="border: none">
            <ul>
                <li>
                   <div class="hui-list-text meanslist">证件状态<span id="sfyx" style="color: #7595ff">有效</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">读者证号<span id="jszh">000001</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">读者姓名<span id="xm">黄晓明</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">联系电话<span id="lxfs">13888888888</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">启用日期<span id="bzrq">2018-09-01</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist">失效日期<span id="yxjzrq">2019-06-30</span></div>
                </li>
            </ul>
        </div>
        <p class="chazhaoluj">读者权限</p>
        <div class="hui-list" style="border: none">
            <ul>
                <li>
                    <div class="hui-list-text meanslist" >允许借阅本数<span id="sl">5</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist" >允许借阅天数<span id="ts">30</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist" >能否续借<span id="sfxj">是</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist" >预约本数<span id="yysl">1</span></div>
                </li>
                <li>
                    <div class="hui-list-text meanslist" >预借本数<span id="yzsl">1</span></div>
                </li>
            </ul>
        </div>
        <div class="hui-list" style="margin-top:22px;border: none">
            <ul>
                <li>
                    <a href="../my/changePassword.html">
                        <div class="hui-list-text">
                            <div class="hui-list-text-content">修改密码</div>
                            <div class="hui-list-info">
                                <span class="hui-icons hui-icons-right"></span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript">

    $.ajax({
       url:"/weixinwode/findUserInfo",
       type:"GET",
       data:{token:sessionStorage.token},
       success:function (result) {
            if(result.resCode == 200){
                if(result.resMsg.sfxj == 1){
                    result.resMsg.sfxj = "是";
                }else {
                    result.resMsg.sfxj = "否";
                }
                $("#bzrq").text(result.resMsg.bzrq);
                $("#jszh").text(result.resMsg.jszh);
                $("#lxfs").text(result.resMsg.lxfs);
                $("#sfxj").text(result.resMsg.sfxj);
                $("#sfyx").text(result.resMsg.sfyx);
                $("#sl").text(result.resMsg.sl);
                $("#ts").text(result.resMsg.ts);
                $("#xjcs").text(result.resMsg.xjcs);
                $("#xm").text(result.resMsg.xm);
                $("#yxjzrq").text(result.resMsg.yxjzrq);
                $("#yysl").text(result.resMsg.yysl);
                $("#yyts").text(result.resMsg.yyts);
                $("#yzsl").text(result.resMsg.yzsl);
            }
       }
    });
</script>
</html>