<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公告详情</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/jsw-logo.ico">
    <link href="../../lib/layui/css/layui.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/index.css">

    <!--[if lt IE 9]>
    <script src="../../lib/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body id="placard">
    <div class="top clearfix">
        <div class="contain">
            <span class="pull-right" id="userName">
                中午好，请 <font id="loginBtn" color="ff9900" style="cursor: pointer;" onclick="login()">登录</font> &nbsp;|&nbsp; <a id="registerBtn" href="javascript:register();">注册</a>
            </span>
        </div>
    </div>
    <header class="clearfix contain">
        <div class="logo">
            <img src="../../img/index-logo.png" alt="">
        </div>
        <ul class="pull-right clearfix head-fun">
            <li class=""><input type="text" class="search-input" placeholder="笔记本电脑"><i class="layui-icon layui-icon-search"></i>
                <p><span>笔记本电脑</span><span>笔记本电脑</span><span>笔记本电脑</span></p>
            </li>
            <li><a href="" style="background-color: #ff9900; color: #fff;">发布求购</a></li>
            <li><a href="" style="background-color: #fcfcfc; color: #333333; border: 1px solid #e2e2e2;"><i class="layui-icon layui-icon-cart"></i> &nbsp;&nbsp; 发布求购</a></li>
        </ul>
        <ul class="link-tab clearfix">
            <li class="all-sort">
                <a>全部分类</a>
                <div class="all-sort-cont" style="display: none;">
                    <ul class="one-ment">
                        <li>图书 &nbsp;|&nbsp; 童书 &nbsp;|&nbsp; 教辅教材 &nbsp;|&nbsp; 教辅教材 &nbsp;|&nbsp; 教辅教材 &nbsp;|&nbsp; 教辅教材
                            <ul class="two-ment">
                                <li>
                                    <span>教育&nbsp;&nbsp;&nbsp;&nbsp;考试&nbsp;&nbsp;|&nbsp;&nbsp;考试&nbsp;&nbsp;|&nbsp;&nbsp;考试&nbsp;&nbsp;|&nbsp;&nbsp;考试&nbsp;&nbsp;|</span>
                                </li>
                                <li>
                                    <span>教育&nbsp;&nbsp;&nbsp;&nbsp;考试&nbsp;&nbsp;|&nbsp;&nbsp;考试&nbsp;&nbsp;|&nbsp;&nbsp;考试&nbsp;&nbsp;|&nbsp;&nbsp;考试&nbsp;&nbsp;|</span>
                                </li>
                                <li>
                                    <span>教育&nbsp;&nbsp;&nbsp;&nbsp;考试&nbsp;&nbsp;|&nbsp;&nbsp;考试&nbsp;&nbsp;|&nbsp;&nbsp;考试&nbsp;&nbsp;|&nbsp;&nbsp;考试&nbsp;&nbsp;|</span>
                                </li>
                            </ul>
                        </li>
                        <li>图书 &nbsp;|&nbsp; 童书 &nbsp;|&nbsp; 教辅教材 &nbsp;|&nbsp; 教辅教材 &nbsp;|&nbsp; 教辅教材 &nbsp;|&nbsp; 教辅教材
                            <ul class="two-ment">
                                <li>
                                    <span>童书&nbsp;&nbsp;&nbsp;&nbsp;童书&nbsp;&nbsp;|&nbsp;&nbsp;童书&nbsp;&nbsp;|&nbsp;&nbsp;童书&nbsp;&nbsp;|&nbsp;&nbsp;童书&nbsp;&nbsp;|</span>
                                </li>
                                <li>
                                    <span>童书&nbsp;&nbsp;&nbsp;&nbsp;童书&nbsp;&nbsp;|&nbsp;&nbsp;童书&nbsp;&nbsp;|&nbsp;&nbsp;童书&nbsp;&nbsp;|&nbsp;&nbsp;童书&nbsp;&nbsp;|</span>
                                </li>
                                <li>
                                    <span>童书&nbsp;&nbsp;&nbsp;&nbsp;童书&nbsp;&nbsp;|&nbsp;&nbsp;童书&nbsp;&nbsp;|&nbsp;&nbsp;童书&nbsp;&nbsp;|&nbsp;&nbsp;童书&nbsp;&nbsp;|</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a>励志</a>

            </li>
            <li class=""><a>教育</a></li>
            <li class=""><a>文学</a></li>
            <li class=""><a>电脑</a></li>
        </ul>
    </header>
    <div class="placard-cont">
        <div class="contain clearfix">
            <ul class="more-placard">
                <li>其它公告</li>
                <li>
                    <a href=""> <i class="layui-icon layui-icon-circle-dot"></i> 平台图书勋章体系改版公告</a>
                </li>
            </ul>
            <div class="placard-article">
                <h3>平台图书勋章体系改版公告</h3>
                <div class="date">时间：2018-09-07 10:21:15 </div>
                <p>亲爱的京东商城用户：</p>
                <p>为了更好地为广大图书勋章用户开展服务，提供更丰富的惊喜权益，自9月10日00:00起，京东图书勋章体系将迎来一次全新改版。</p>
                <p>新的图书勋章等级对京东图书用户体系的评估维度进行了优化升级，它基于用户近12个月在京东图书的消费金额计算得出，京东图书勋章等级每天更新并成为用户享受相关权益的评价标准。</p>
                <p>具体标准说明如下：</p>
                <p>1）勋章Lv.1等级获得条件：截止当天近1年内累积在图书品类有过购物行为</p>
                <p>未来，京东图书勋章还会不断引入更多元化的增值服务和跨界权益，在继续帮助勋章用户享受“买买买”优质体验和服务的同时，也为图书勋章用户的日常生活带来更多惊喜。京东图书勋章频道https://vip.jd.com/medal/detail/60.html </p>
                <p>祝您购物愉快！</p>
            </div>
        </div>
    </div>
    <!-- 登录 -->
    <div class="register" id="login" style="display: none;">
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="用户名" class="layui-input">
                </div>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-input" style="background-color: #ff9900; color: #fff;
                                    border-radius: 5px;" lay-submit lay-filter="formLogin">登录</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- 注册 -->
    <div class="register" id="register" style="display: none;">
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="用户名" class="layui-input">
                </div>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="手机号" class="layui-input">
                </div>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入验证码" class="layui-input">
                    </div>
                    <button type="button" class="layui-btn layui-btn-warm">获取验证码</button>
                </div>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="设置密码" class="layui-input">
                </div>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="确认密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-input" style="background-color: #ff9900; color: #fff;
                            border-radius: 5px;" lay-submit lay-filter="formRegister">注册</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="../../lib/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript">
        // 登录
        function login() {
            layer.open({
                type: 1,
                title: "登录",
                area: ['600px', '400px'],
                content: $('#login'),
                success: function(layero, index) {
                    form.on('submit(formLogin)', function(data) {
                        layer.close(index);
                        layer.msg("登录成功");
                        $("#userName").html("<a style='color:#ff9900;'>登录成功</a>");
                        data.form.reset();
                        return false;
                    });
                }
            });
        }
        //注册
        function register() {
            layer.open({
                type: 1,
                title: "注册",
                area: ['600px', '600px'],
                content: $('#register'),
                success: function(layero, index) {
                    form.on('submit(formRegister)', function(data) {
                        layer.close(index);
                        layer.msg("注册成功");
                        $("#userName").html("<a style='color:#ff9900;'>登录成功</a>");
                        data.form.reset();
                        return false;
                    });
                }
            });
        };

        //分类切换
        $(".link-tab").find(".all-sort").hover(function() {
            $(".all-sort-cont").show();
        }, function() {
            $(".all-sort-cont").hide();
        })
        $(".one-ment > li").hover(function() {
            $(this).children().show();
        }, function() {
            $(this).children().hide();
        })
    </script>
</body>

</html>